   <label>Incluir Capacidad Adaptativa</label>
   <div class="w-radio">
      <input class="w-radio-input" id="incluir_adaptativa_si" type="radio" name="incluir_adaptativa" value="true" >
      <label class="w-form-label" for="incluir_adaptativa_si">Sí</label>
    </div>
    <div class="w-radio">
      <input class="w-radio-input" id="incluir_adaptativa_no" type="radio" name="incluir_adaptativa" value="false" checked="checked">
      <label class="w-form-label" for="incluir_adaptativa_no">No</label>
    </div>

  <h4>DATOS INDIVIDUALES:</h4> 

  <label>Edad</label>
  <select class="w-select" name="grupoedad">
    <option value="0">Menos de 20 a&nacute;os</option>
    <option value="5">Menos de 30 a&nacute;os</option>
    <option value="5">Entre 30 y 50 a&nacute;os</option>
    <option value="4">Entre 50 y 70 a&nacute;os</option>
    <option value="5">M&aacute;s de 70 a&nacute;os</option>
  </select>
  <label>Nivel Educativo</label>
  <select class="w-select" name="niveleducativo">
    <option value="3">Primaria</option>
    <option value="4">Secundaria</option>
    <option value="5">Tecnico</option>
    <option value="5">Estudios Superiores</option>
  </select>
  <label>Tipo de Vivienda</label>
  <select class="w-select" name="tipovivienda">
    <option value="5">Propia</option>
    <option value="2">Alquilada</option>
  </select>
  <label>Antigüedad</label>
  <select class="w-select" name="antiguedad">
    <option value="2">Menos de 10 años</option>
    <option value="3">Entre 10 y 20 años</option>
    <option value="4">Entre 20 y 30 años</option>
    <option value="5">M&aacute;s de 30 años</option>
  </select>
<label>A&nacute;os dedicados a la agricultura</label>
<select class="w-select" name="dedicacionagricultura">
      <option value="2">Menos de 5 años</option>
      <option value="3">Entre 5 y 15 años</option>
<option value="5">M&aacute;s de 15 años</option>
    </select>
<label>Estado de la vivienda</label>
<select class="w-select" name="estadovivienda">
      <option value="5">Buena</option>
      <option value="4">Regular</option>
<option value="2">Mala</option>
    </select>
<label>Personas a cargo</label>
<select class="w-select" name="personasacargo">
  <option value="5">Ninguna</option>
  <option value="5">1</option>
  <option value="5">2</option>
  <option value="5">3</option>
  <option value="3">4</option>
  <option value="3">5</option>
  <option value="2">M&aacute;s de 5 personas</option>
</select>
<div class="div_clima">
<h4>DATOS GRUPALES:</h4>                             
<h4>Preocupaciones:</h4>
<div class="w-row">
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-20" type="checkbox" name="preocupacion-1" >
      <label class="w-form-label" for="checkbox-20">Buscar dinero para sustento diario</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-21" type="checkbox" name="preocupacion-2" >
      <label class="w-form-label" for="checkbox-21">Poco trabajo en la zona</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="preocupacion-3" >
      <label class="w-form-label" for="checkbox-22">Problemas de Salud</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-23" type="checkbox" name="preocupacion-4" >
      <label class="w-form-label" for="checkbox-23">Migración de jóvenes a las ciudades</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-23" type="checkbox" name="preocupacion-5" >
      <label class="w-form-label" for="checkbox-23">Presencia de Cultivos Ilícitos</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-24" type="checkbox" name="preocupacion-6" >
      <label class="w-form-label" for="checkbox-24">Violencia en la zona</label>
    </div>                  
  </div>
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-25" type="checkbox" name="preocupacion-7" >
      <label class="w-form-label" for="checkbox-25">Inestabilidad de Precios</label>
    </div>
	  <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-30" type="checkbox" name="preocupacion-8" >
      <label class="w-form-label" for="checkbox-30">Variabilidad en el Clima</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-31" type="checkbox" name="preocupacion-9" >
      <label class="w-form-label" for="checkbox-31">Ocurrencia de eventos climáticos extremos</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="preocupacion-10" >
      <label class="w-form-label" for="checkbox-32">Cambios inesperados en el clima</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-33" type="checkbox" name="preocupacion-11" >
      <label class="w-form-label" for="checkbox-33">Pago de Deudas</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-34" type="checkbox" name="preocupacion-12" >
      <label class="w-form-label" for="checkbox-34">Desarrollo de Plagas o enfermedades en el cultivo</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-35" type="checkbox" name="preocupacion-13" >
      <label class="w-form-label" for="checkbox-35">Ninguna otra</label>
    </div>
  </div>
</div>
  
<h4>Barreras de Adaptación en la zona:</h4>
<div class="w-row">
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-20" type="checkbox" name="barreras-1" value="3.0">
      <label class="w-form-label" for="checkbox-20">Dificultad para acceder a créditos agropecuarios</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-21" type="checkbox" name="barreras-2" value="3.0">
      <label class="w-form-label" for="checkbox-21">Elevadas tasas de interés en los créditos agrícolas</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="barreras-3" value="2.0">
      <label class="w-form-label" for="checkbox-22">Elevado costo de insumos agícolas</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-23" type="checkbox" name="barreras-4" value="4.0">
      <label class="w-form-label" for="checkbox-23">Dificil acceso a mercados</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-23" type="checkbox" name="barreras-5" value="3.0">
      <label class="w-form-label" for="checkbox-23">Pobre infraestructura vial</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-24" type="checkbox" name="barreras-6" value="3.0">
      <label class="w-form-label" for="checkbox-24">Elevado costo del transporte para comercialización</label>
    </div>                  
  </div>
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-25" type="checkbox" name="barreras-7" >
      <label class="w-form-label" for="checkbox-25">Escacez de mano de obra</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-30" type="checkbox" name="barreras-8" >
      <label class="w-form-label" for="checkbox-30">Migración de jóvenes</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-31" type="checkbox" name="barreras-9" value="5.0">
      <label class="w-form-label" for="checkbox-31">Falta de asitencia técnica</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="barreras-10" value="3.0">
      <label class="w-form-label" for="checkbox-32">Costumbres arraigadas</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-33" type="checkbox" name="barreras-11" value="3.0">
      <label class="w-form-label" for="checkbox-33">Falta de apoyo de Gobierno</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-34" type="checkbox" name="barreras-12" value="3.0">
      <label class="w-form-label" for="checkbox-34">Falta de asociatividad</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-35" type="checkbox" name="barreras-13" >
      <label class="w-form-label" for="checkbox-35">Ninguna otra</label>
    </div>
  </div>
</div>

<h4>Incentivos y Motivaciones para la Adaptación en la zona:</h4>
<div class="w-row">
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-20" type="checkbox" name="incentivos-1" >
      <label class="w-form-label" for="checkbox-20">Pertenencia a la región</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-21" type="checkbox" name="incentivos-2" >
      <label class="w-form-label" for="checkbox-21">Aumentar ingresos</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="incentivos-3" >
      <label class="w-form-label" for="checkbox-22">Mejorar su alimentación</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-23" type="checkbox" name="incentivos-4" >
      <label class="w-form-label" for="checkbox-23">Proveer alimentos saludables y diversificados para su familia</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-23" type="checkbox" name="incentivos-5" >
      <label class="w-form-label" for="checkbox-23">Dar una buena educación a sus hijos</label>
    </div>
                     
  </div>
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-25" type="checkbox" name="incentivos-6" >
      <label class="w-form-label" for="checkbox-25">Mejorar su calidad de vida</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-30" type="checkbox" name="incentivos-7" >
      <label class="w-form-label" for="checkbox-30">Amor por la agricultura</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-31" type="checkbox" name="incentivos-8" >
      <label class="w-form-label" for="checkbox-31">Incentivos del gobierno al agricultor</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="incentivos-9" >
      <label class="w-form-label" for="checkbox-32">Incentivos a buenas prácticas</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-33" type="checkbox" name="incentivos-10" >
      <label class="w-form-label" for="checkbox-33">Ningun otro</label>
    </div>
  </div>
</div>
  
</div>
      
<h4>Capital Natural</h4>
<p>Incluye el conjunto y calidad de recursos naturales que nos rodean (i.e. suelo, bosque, agua, biodiversidad) y a los servicios ambientales. Estos recursos pueden ser aprovechados para la satisfacción de las necesidades del agricultor, y de ellos se derivan los medios de vida, pero normalmente no pueden ser convertidos fácilmente en dinero.</p>
<select class="w-select" name="capitalnatural">
	<option id="natural1" value="1">1</option>
	<option id="natural2" value="2">2</option>
	<option id="natural3" value="3">3</option>
	<option id="natural4" value="4">4</option>
	<option id="natural5" value="5">5</option>
</select>
<h4>Capital Humano</h4>
<p>Corresponde a todas las capacidades, habilidades, aptitudes, conocimiento, salud, capacidad física que se requieren para implementar las diferentes estrategias para el logro de los medios de vida. Este capital puede ser desarrollado por el agricultor mediante educación y capacitación (educación formal), o a través de la experiencia (educación informal).</p>
<select class="w-select" name="capitalhumano">
	<option id="humano1" value="1">1</option>
	<option id="humano2" value="2">2</option>
	<option id="humano3" value="3">3</option>
	<option id="humano4" value="4">4</option>
	<option id="humano5" value="5">5</option>
</select>
<h4>Capital Físico</h4>
<p>Se refiere a toda la infraestructura básica (servicios básicos, caminos y carreteras, construcciones) e infraestructura productiva (bodegas, equipos, maquinaria) que posee la familia y su comunidad, que les permite desarrollar diferentes estrategias para el logro de los medios de vida.</p>
<select class="w-select" name="capitalfisico">
	<option id="fisico1" value="1">1</option>
	<option id="fisico2" value="2">2</option>
	<option id="fisico3" value="3">3</option>
	<option id="fisico4" value="4">4</option>
	<option id="fisico5" value="5">5</option>
</select>
<h4>Capital Financiero</h4>
<p>Corresponde al dinero en efectivo, los ahorros en el banco y los créditos que el agricultor puede conseguir. Además, a aquellas inversiones que puede convertir fácilmente a dinero tales como: tierras, producto cosechado, ganado, vivienda, vehículos, entre otros.</p>
<select class="w-select" name="capitalfinanciero">
	<option id="financiero1" value="1">1</option>
	<option id="financiero2" value="2">2</option>
	<option id="financiero3" value="3">3</option>
	<option id="financiero4" value="4">4</option>
	<option id="financiero5" value="5">5</option>
</select>
<h4>Capital Social</h4>
<p>Corresponde a aquellos recursos que poseemos a partir de las relaciones (familiares, comunitarias, de amistad, de trabajo o de negocio) con otras personas o grupos; así como la afiliación a diferentes tipos de organizaciones (gremiales, de productores, políticas, comunitarias, religiosas, entre otras)</p>
<select class="w-select" name="capitalsocial">
	<option id="social1" value="1">1</option>
	<option id="social2" value="2">2</option>
	<option id="social3" value="3">3</option>
	<option id="social4" value="4">4</option>
	<option id="social5" value="5">5</option>
</select>

<h4>Capital Natural:</h4>
<div class="w-row">
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-20" type="checkbox" name="natural-1" value="1.0">
      <label class="w-form-label" for="checkbox-20">Disponibilidad de Agua</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-21" type="checkbox" name="natural-2" value="1.0">
      <label class="w-form-label" for="checkbox-21">Aptitud del suelo</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="natural-3" value="1.0">
      <label class="w-form-label" for="checkbox-22">Clima</label>
    </div>
  </div>
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-25" type="checkbox" name="natural-4" value="1.0">
      <label class="w-form-label" for="checkbox-25">Bosques</label>
    </div>
   <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-30" type="checkbox" name="natural-5" value="1.0">
      <label class="w-form-label" for="checkbox-30">Ríos/Quebradas o fuentes de agua cercana</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-31" type="checkbox" name="natural-6" value="1.0">
      <label class="w-form-label" for="checkbox-31">Biodiversidad</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="natural-7" >
      <label class="w-form-label" for="checkbox-32">Ningun otro</label>
    </div>
  </div>
</div>

<h4>Capital Humano:</h4>
<div class="w-row">
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-20" type="checkbox" name="humano-1" >
      <label class="w-form-label" for="checkbox-20">Asistencia Técnica</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-21" type="checkbox" name="humano-2" >
      <label class="w-form-label" for="checkbox-21">Experiencia en Agricultura</label>
    </div>
  </div>
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-25" type="checkbox" name="humano-3" >
      <label class="w-form-label" for="checkbox-25">Acceso a tecnología agropecuaria</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-30" type="checkbox" name="humano-4" value="1.0">
      <label class="w-form-label" for="checkbox-30">Mano de obra capacitada</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-31" type="checkbox" name="humano-5" >
      <label class="w-form-label" for="checkbox-31">Acceso a educacion formal</label>
    </div>
  </div>
</div>
  
<h4>Capital Físico:</h4>
<div class="w-row">
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-20" type="checkbox" name="fisico-1" >
      <label class="w-form-label" for="checkbox-20">Herramientas Agrícolas</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-21" type="checkbox" name="fisico-2" >
      <label class="w-form-label" for="checkbox-21">Adecuada Infraestructura Vial</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="fisico-3" >
      <label class="w-form-label" for="checkbox-22">Acceso a Maquinaria Agrícola (Propia u alquilada)</label>
    </div>
  </div>
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-25" type="checkbox" name="fisico-4" >
      <label class="w-form-label" for="checkbox-25">Bodegas de almacenamiento</label>
    </div>
   <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-30" type="checkbox" name="fisico-5" >
      <label class="w-form-label" for="checkbox-30">Distritos de Riego</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-31" type="checkbox" name="fisico-6" >
      <label class="w-form-label" for="checkbox-31">Servicios públicos básicos (Agua, energía)</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="fisico-7" >
      <label class="w-form-label" for="checkbox-32">Bancos de Semillas</label>
    </div>
  </div>
</div>
  
<h4>Capital Financiero:</h4>
<div class="w-row">
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-20" type="checkbox" name="financiero-1" >
      <label class="w-form-label" for="checkbox-20">Créditos</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-21" type="checkbox" name="financiero-2" >
      <label class="w-form-label" for="checkbox-21">Remesas familiares</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="financiero-3" >
      <label class="w-form-label" for="checkbox-22">Ahorros en el banco</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="financiero-4" >
      <label class="w-form-label" for="checkbox-22">Subsidios del gobierno</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="financiero-5" >
      <label class="w-form-label" for="checkbox-22">Dinero en efectivo</label>
    </div>
  </div>
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-25" type="checkbox" name="financiero-6" >
      <label class="w-form-label" for="checkbox-25">Vehículos</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-30" type="checkbox" name="financiero-7" >
      <label class="w-form-label" for="checkbox-30">Ganado</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-31" type="checkbox" name="financiero-8" >
      <label class="w-form-label" for="checkbox-31">Producto cosechado</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="financiero-9" >
      <label class="w-form-label" for="checkbox-32">Lotes agrícolas propios</label>
    </div>
    <div class="w-checkbox">
      <input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="financiero-10" >
      <label class="w-form-label" for="checkbox-32">Vivienda propia</label>
    </div>
  </div>
</div>

<h4>Capital Social:</h4>
<div class="w-row">
  <div class="w-col w-col-6 columna_climaticas">
    <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-20" type="checkbox" name="social-1" >
        <label class="w-form-label" for="checkbox-20">Asociaciónes de Productores</label>
      </div>
      <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-21" type="checkbox" name="social-2" >
        <label class="w-form-label" for="checkbox-21">Intermediarios</label>
      </div>
      <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="social-3" >
        <label class="w-form-label" for="checkbox-22">Grupo religioso</label>
      </div>
      <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="social-4" >
        <label class="w-form-label" for="checkbox-22">Grupo de amigos</label>
      </div>
      <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="social-5" >
        <label class="w-form-label" for="checkbox-22">Grupo político</label>
      </div>
    </div>

    <div class="w-col w-col-6 columna_climaticas">
      <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-25" type="checkbox" name="social-6" >
        <label class="w-form-label" for="checkbox-25">Gremios</label>
      </div>
      <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-30" type="checkbox" name="social-7" >
        <label class="w-form-label" for="checkbox-30">Beneficiario en proyecto de ONGs</label>
      </div>
      <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-31" type="checkbox" name="social-8" >
        <label class="w-form-label" for="checkbox-31">Relacion cercana con otros agricultores</label>
      </div>
      <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="social-9" >
        <label class="w-form-label" for="checkbox-32">Beneficiario de Institucion del Gobierno</label>
      </div>
      <div class="w-checkbox">
        <input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="social-10" >
        <label class="w-form-label" for="checkbox-32">Beneficiario de Institucion de Investigación</label>
      </div>
    </div>
  </div>
		  