    <p>
    	La adaptación basada en ecosistemas genera gran cantidad de co-beneficios tanto ecosistémicos como socio-culturales. El ecosistema puede beneficiar a las personas de manera directa e indirecta. Se consideran beneficios directos la producción de agua y alimentos, o la regulación de ciclos como las inundaciones, degradación de los suelos, desecación y salinización, pestes y enfermedades. E indirectos los servicios de apoyo, como el proceso de fotosíntesis y la formación y almacenamiento de materia orgánica; el ciclado de nutrientes; la creación y asimilación del suelo y la neutralización de desechos tóxicos. Adicionalmente, los ecosistemas también ofrecen beneficios no materiales, como los valores estéticos y culturales, o las oportunidades de recreación. Para una descripción detallada de la valoración de las medidas de adaptación según su aporte a los servicios ecosistémicos, consultar <a target="_blank" href="@{'/public/Modulo_de_Servicios_Ecosistemicos.pdf'}">éste documento</a>
    </p>

	  <div class="pregunta_ecosistemicos">¿Considera usted que el ecosistema que lo rodea le provee alguno de los siguientes beneficios ecosistémicos? Seleccione los beneficios que identifica:
	  </div>
	  <div class="w-row">
		<div class="w-col w-col-6 columna_climaticas">
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-20" type="checkbox" name="servicioseco-1" >
			<label class="w-form-label" for="checkbox-20">Producción de Alimentos</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-21" type="checkbox" name="servicioseco-2" >
			<label class="w-form-label" for="checkbox-21">Disponibilidad de Agua</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-22" type="checkbox" name="servicioseco-3" >
			<label class="w-form-label" for="checkbox-22">Provisión de Materias Primas</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-23" type="checkbox" name="servicioseco-4" >
			<label class="w-form-label" for="checkbox-23">Recursos Genéticos</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-24" type="checkbox" name="servicioseco-5" >
			<label class="w-form-label" for="checkbox-24">Recursos Medicinales</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-25" type="checkbox" name="servicioseco-6" >
			<label class="w-form-label" for="checkbox-25">Recursos Ornamentales</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-26" type="checkbox" name="servicioseco-7" >
			<label class="w-form-label" for="checkbox-26">Regulación de Gases Atmosféricos</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-27" type="checkbox" name="servicioseco-8" >
			<label class="w-form-label" for="checkbox-27">Regulación Climática</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-28" type="checkbox" name="servicioseco-9" >
			<label class="w-form-label" for="checkbox-28">Regulación de los Disturbios</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-29" type="checkbox" name="servicioseco-10" >
			<label class="w-form-label" for="checkbox-29">Regulación Biológica</label>
		  </div>
		</div>
		<div class="w-col w-col-6 columna_climaticas">
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-30" type="checkbox" name="servicioseco-11" >
			<label class="w-form-label" for="checkbox-30">Regulación Hídrica</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-31" type="checkbox" name="servicioseco-12" >
			<label class="w-form-label" for="checkbox-31">Formación de Suelos</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-32" type="checkbox" name="servicioseco-13" >
			<label class="w-form-label" for="checkbox-32">Retención de Suelo</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-33" type="checkbox" name="servicioseco-14" >
			<label class="w-form-label" for="checkbox-33">Regulación de Residuos y desechos</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-34" type="checkbox" name="servicioseco-15" >
			<label class="w-form-label" for="checkbox-34">Regulación de Nutrientes</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-35" type="checkbox" name="servicioseco-16" >
			<label class="w-form-label" for="checkbox-35">Ciclado de Nutrientes</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-36" type="checkbox" name="servicioseco-17" >
			<label class="w-form-label" for="checkbox-36">Producción Primaria Neta</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-37" type="checkbox" name="servicioseco-18" >
			<label class="w-form-label" for="checkbox-37">Polinización y dispersión de semillas</label>
		  </div>
		  <div class="w-checkbox">
			<input class="w-checkbox-input" id="checkbox-38" type="checkbox" name="servicioseco-19" >
			<label class="w-form-label" for="checkbox-38">Ciclo Hidrológico</label>
		  </div>
		</div>
	  </div>