#{extends 'main.html' /}
#{set title:'Inicio' /}
<div class="contenedor_imagen_grande" style="background-image:url('@{'/public/images/foto_mano_frijoles.jpg'}')">
	
	<div class="titulo_herramienta">
		HERRAMIENTA DE PRIORIZACIÓN DE MEDIDAS DE ADAPTACIÓN BASADA EN ECOSISTEMAS
	</div>
	
</div>
<div style="margin: 20px 20px 20px 20px">
<div style="width: 500px; float: left">
	<p>
	El proyecto Microfinanzas para la Adaptación basada en Ecosistemas (MEbA, por sus siglas en inglés) es un proyecto que proporcionará asistencia técnica individualizada y recursos financieros a instituciones de microfinanzas (IMFs), que tengan interés en proveer acceso a productos y servicios innovadores a poblaciones rurales vulnerables a los efectos de la variabilidad y el cambio climático, en Perú y Colombia. El proyecto es ejecutado por el programa de las Naciones Unidas para el Medio Ambiente (PNUMA) y la escuela de Finanzas y Administración de Frankfurt (FS), y está financiado por el Ministerio Federal de Medio Ambiente, Conservación de la Naturaleza y Seguridad Nuclear de Alemania, en el marco de la Iniciativa de Cambio Climático (ICI).
	</p>	
	<p>
	Esta iniciativa impulsa productos y servicios de microfinanzas para que poblaciones vulnerables enfrenten los impactos negativos del cambio climático, a través de un manejo y uso sustentable de los servicios que proveen los ecosistemas. 
	</p>	
	<p>
	La herramienta de priorización MEbA desarrollada por el Centro Internacional de Agricultura Tropical (CIAT), busca brindar apoyo en la toma de decisiones a las IMFs, dándoles herramientas que les permita recomendar al agricultor medidas de adaptación de alta rentabilidad que se ajusten a sus necesidades específicas.   
	</p>
	<p>
		Encuentre <a href="http://www.pnuma.org/meba/">aquí</a> más información acerca del proyecto MEbA.
	</p>
	<p><strong>Para iniciar la priorización por unidad productiva, haga click en el menú de 
	<span style="color: #2065A1">Datos de Entrada</span>.</strong></p>
</div>
<div style="width: 320px; float: right">	
	<h4 style="text-align:center">Medidas de Adaptación: Opciones, Costos y Beneficios</h4>
	<img width="283px" height="366px" src="@{'/public/images/Publication.jpg'}" />	

	<ul style="margin-top: 10px;">
	<li><a href="http://www.pnuma.org/meba/fichas/archivocompletofichas.pdf">Versión en español</a></li>
	<li><a href="http://www.pnuma.org/meba/fichas/MEBA_Options_costs_and_benefits.pdf">English version</a></li>
	</ul>
</div>	
</div>